bank/build
workspace/.metadata
bank/bin
bank/logs/twist.log
pebble-audit.log
pebble.log
pebble/logs/*
.~lock*
workspace/**/logs
workspace/**/bin
workspace/**/.settings
SESSIONS.ser
*_404_jsp.*
subscribe_jsp.*
*_jsp.java
*_jsp.class
